body {
    display : flex;
    margin : 0;
    justify-content : center;
    align-items : center;
    text-align : center;
    height : 100vh;
    background-color : white;
    color : orange;
}
.popup {
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    width: 300px;
}
.title-box {
    font-size: 50px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    position: fixed; /* 固定在上方 */
    top: 100px; /* 距離頁面上方 10px */
    left: 50%;
    transform: translateX(-50%); /* 水平居中 */
}

.bug {
    position: absolute;
    width: 50px;
    height: auto;
    animation: crawl 20s linear infinite alternate; /* 爬行動畫 */
    mix-blend-mode: multiply;
}

/* 爬行動畫 */
@keyframes crawl {
    0% {
        top: 10%;
        left: 10%;
        transform: rotate(0deg);
    }
    25% {
        top: 20%;
        left: 60%;
        transform: rotate(30deg);
    }
    50% {
        top: 50%;
        left: 80%;
        transform: rotate(-20deg);
    }
    75% {
        top: 70%;
        left: 30%;
        transform: rotate(45deg);
    }
    100% {
        top: 90%;
        left: 90%;
        transform: rotate(0deg);
    }
}
